<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Image Classification using TensorFlow</title>
	<link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='styles/style.css') }}"/>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/form.js') }}"></script>
</head>
<body>
<h1>Image Classification using TensorFlow
<img src="{{ url_for('static', filename='img/tensorflow.png') }}" height="50" width="300" align="right">
</h1>
<br>
<!--form name="upload" id="upload" action="upload" method="POST" enctype="multipart/form-data"!-->
<form name="upload" id="upload">
<fieldset>
<legend>HTML File Upload</legend>
<div>
	<label for="fileselect">Files to upload:</label>
	<input type="file" id="fileselect" name="file" />
	<div id="filedrag">or drop files here</div>
</div>

<div id="submitbutton">
	<button type="submit">Upload Files</button>
</div>

</fieldset>

</form>
  <div id="messages">
<p> Status Messages </p>
</div>
<script src="{{ url_for('static', filename='js/filedrag.js') }}"></script>
</body>
</html>
