<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
    <title>Image Classification using TensorFlow</title>
<link rel="stylesheet" href="{{url_for('css_static', filename='style.css')}}">
</head>
<body>

<h1>Image Classification using TensorFlow
<img src="{{ url_for('static', filename='img/tensorflow.png') }}" height="50" width="300" align="right">
</h1>
<br>


<form id="uploadform" enctype="multipart/form-data">
    <fieldset>
        <legend>HTML File Upload</legend>
        <div>
        <label for="file">Select a file</label>
        <input name="file" type="file">
        </div>
        <div>
            <button id="submit" type="button">Upload</button>
        </div>
    </fieldset>
</form>

<p>Result Filename:&nbsp;<span id="resultFilename"> here</span></p>
<p>Status Message:&nbsp;<span id="resultFilesize"></span></p>
<div id="messages">
<p> Status Messages </p>
</div>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="{{url_for('js_static', filename='app.js')}}"></script>
</body>
</html>